@import '../../../asset/scss/typography.scss';

.FormSubmitButton {
  margin-top: 1.3vw;
  margin-bottom: .5vw;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5));
}

.SubmitButtonContainer {
  @extend %center;
  background-color: $tertiaryColor;
  height: 2.5vw;
}

.SubmitButtonContainer:hover {
  @extend %center;
  background-color: $primaryColor;
  height: 2.6vw;
  cursor: pointer;
}

.SubmitButton {
  color: $white;
}