@import '../../../asset/scss/typography.scss';

.Button {
  background-color: $primaryColor;
  color: $white;
  cursor: pointer;
  border-radius: .5vw;
}

.Button:hover {
  opacity: .9;
  color: $secondaryColor;
}

.ButtonInner {
  padding: .5vw 2vw;
  margin-top: -0.3vw;
}